[submodule "postgresql/modules"]
	path = postgresql/modules
	url = git@github.com:oscarrenalias/puppet.git
[submodule "redis/modules"]
	path = redis/modules
	url = https://github.com/oscarrenalias/puppet.git
[submodule "blank/modules"]
	path = blank/modules
	url = https://github.com/oscarrenalias/puppet.git
[submodule "jenkins/modules"]
	path = jenkins/modules
	url = https://github.com/oscarrenalias/puppet.git
